## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
#import gmaps.dataset

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Shingu,JP,62.15,light rain,33.7333,135.9833,Shingu UI Hotel
1,4,Garmsar,IR,73.49,few clouds,35.2182,52.3409,مجتمع مرصاد
2,5,Hermanus,ZA,65.80,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,6,Khash,IR,75.97,clear sky,28.2211,61.2158,خوابگاه آبجی محدثه
4,7,Lucapa,AO,74.91,overcast clouds,-8.4192,20.7447,Residência Ulisses Dos Santos

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
#info_box_template = """
#"""
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
hotel_df = vacation_df

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Santona")]                                   
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Ferrol")] 
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Ponferrada")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Logrono")] 

vacation_trip  = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
vacation_trip_df = pd.concat (vacation_trip, ignore_index=True)
vacation_trip_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,299,Santona,ES,62.91,few clouds,43.4439,-3.4576,Playamar
1,276,Ferrol,ES,63.36,few clouds,43.4832,-8.2369,Hotel Spa Sercotel Odeón
2,676,Ponferrada,ES,73.09,scattered clouds,42.5466,-6.5962,Hotel Temple Ponferrada
3,445,Logrono,ES,76.50,clear sky,42.4667,-2.4500,Hotel Gran Vía Logroño

In [6]:
coords_trip = vacation_trip_df[["Lat", "Lng"]].to_numpy()
coords_trip

array([[43.4439, -3.4576],
       [43.4832, -8.2369],
       [42.5466, -6.5962],
       [42.4667, -2.45  ]])

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = coords_trip[0][0], coords_trip[0][1]
stop1 = coords_trip[1][0], coords_trip[1][1]
stop2 = coords_trip[2][0], coords_trip[2][1]
stop3 = coords_trip[3][0], coords_trip[3][1]
end   = coords_trip[0][0], coords_trip[0][1]

In [8]:
start

(43.4439, -3.4576)

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], 
                                        travel_mode="DRIVING")
fig.add_layer(vacation_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_trip  = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
itinerary_df = pd.concat (vacation_trip, ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,299,Santona,ES,62.91,few clouds,43.4439,-3.4576,Playamar
1,276,Ferrol,ES,63.36,few clouds,43.4832,-8.2369,Hotel Spa Sercotel Odeón
2,676,Ponferrada,ES,73.09,scattered clouds,42.5466,-6.5962,Hotel Temple Ponferrada
3,445,Logrono,ES,76.50,clear sky,42.4667,-2.4500,Hotel Gran Vía Logroño

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} with {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))