## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
#import gmaps.dataset

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Arraial Do Cabo,BR,76.96,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,3,Dingle,PH,77.54,overcast clouds,10.9995,122.6711,SEGAYA PROPERTY
2,7,Victoria,HK,77.38,light rain,22.2855,114.1577,Mini Hotel Central
3,9,Ovalle,CL,78.66,clear sky,-30.5983,-71.2003,Hotel Altos de Tuqui
4,17,Vila Do Maio,CV,77.79,scattered clouds,15.1333,-23.2167,Hotel Marilu

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
#info_box_template = """
#"""
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
#hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
hotel_df = vacation_df

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 

#start_city = str(input("What is the first city you would like to visit?"))
#first_city = str (input("What is the second city you would like to visit?"))
#second_city = str(input("What is the third city you would like to visit?"))
#third_city = str(input("What is the fourth city you would like to visit?"))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Jamestown")]                                   
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Broome")] 
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Burlington")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Culpeper")] 

vacation_trip  = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_start]
vacation_trip_df = pd.concat (vacation_trip)
vacation_trip_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
18,70,Jamestown,US,73.53,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
56,234,Broome,US,72.68,clear sky,42.2506,-75.8330,Chenango Valley State Park
25,104,Burlington,US,70.63,few clouds,39.8835,-74.6413,Delanco Camp
124,579,Culpeper,US,70.38,clear sky,38.5004,-77.9664,Suites at 249
18,70,Jamestown,US,73.53,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [7]:
coords_trip = vacation_trip_df[["Lat", "Lng"]].to_numpy()
coords_trip

array([[ 42.097 , -79.2353],
       [ 42.2506, -75.833 ],
       [ 39.8835, -74.6413],
       [ 38.5004, -77.9664],
       [ 42.097 , -79.2353]])

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = coords_trip[0][0], coords_trip[0][1]
stop1 = coords_trip[1][0], coords_trip[1][1]
stop2 = coords_trip[2][0], coords_trip[2][1]
stop3 = coords_trip[3][0], coords_trip[3][1]
end   =  coords_trip[0][0], coords_trip[0][1]

In [9]:
start

(42.097, -79.2353)

In [10]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_route = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], 
                                        travel_mode="DRIVING")
fig.add_layer(vacation_route)

fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([],ignore_index=True)
itinerary_df

ValueError: No objects to concatenate

In [ ]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure